@import url('https://fonts.googleapis.com/css?family=Quicksand');

body
{
    font-family:        'Quicksand', sans-serif;
    background-color:   #FF8C00;

}

table, th, td {
    --border: 1px solid black;
    vertical-align: center;
    text-align: left;
}
table, tr{
    width: 100%;
    algin: "center";
}

button {
    background:    #ccc;
    background:    -webkit-linear-gradient(#ccc, #ccc);
    background:    linear-gradient(#ccc, #ccc);
    border:        2px solid #000;
    border-radius: 5px;
    color:         #000;
    display:       inline-block;
    padding:       16px 14px;
    font:          normal 700 20px/1 "Droid Serif", serif;
    text-align:    center;
    text-shadow:   none;
    width:         100%;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}
